label {
    color: #78a8f0;
    font-weight: bold;
    font-size: 1.125rem;
}

input[type=text]{
  width: 5rem;
  padding-left: 0.5rem;
}

.apiInfo {
  font-size: 0.65rem;
  text-align: center;
}

.fixed-row-bottom {
  position: fixed;
  bottom: 0;
}

input, select {
  line-height: 10px !important;
  border-radius: 5px;
}

.submit-button {
  padding: 0.60rem;
  background: #78a8f0;
  border-radius: 5px;
  border-style:solid;
  cursor: pointer;
}

p {
  font-size: 1.125rem;
}
